*{
    margin: 0   ;
    padding: 0;
    box-sizing: border-box;
}

h1{
    margin-left: 5px;;
}

.sectionTwo{
    margin-top: 20px;
    display: grid;
    height: min-content;
    width: 250px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    margin-left: 5px;
    
}

input, textarea{
    width: 250px;
}

textarea{
    margin-top: 10px;;
}

select {
    width:200px;
    margin-left: 5px;
    margin-top: 5px;
}
button{
    margin-top: 5px;
    width: 123px;
    
}

.littlespan {
    font-size: 10px;
    color: brown;
    
    margin-top: 10px;
    margin-left: 8px;
    font-family: monospace;

}

table{
    margin-left: 8px;
    border:1px solid gray;
    border-collapse: collapse;
    width: 250px;
    font-family: monospace;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}

th,tr,td{
    border: 0.5px solid gray;
    
}
